.width-percent(@width) {
    width: @width;
}

.section(@bgColor, @topBgColor, @bottomBgColor) {
    height: 100%;
    background-color: @bgColor;

    .top {
        background-color: @topBgColor;
    }

    .bottom {
        background-color: @bottomBgColor;
    }
}

.vertical-box(@leftMarginTop, @leftMarginLeft, @rightMarginTop, @rightMarginLeft) {
    .left-vertical-box {
        position: absolute;
        margin: @leftMarginTop 0 0 @leftMarginLeft;
        z-index: 99;
        transition: transform .1s linear;
    }

    .right-vertical-box {
        position: absolute;
        margin: @rightMarginTop 0 0 @rightMarginLeft;
        z-index: 100;
        border-radius: 70px;
        transition: transform .1s linear;
    }
}

.vertical-box-sm() {
    @media screen and (max-width: 1200px) {
        .vertical-box(18%, 15%, 50%, 10%);
        .left-vertical-box {
            width: 80%;
            transform: rotate(45deg);
            transition: transform .1s linear;
        }

        .right-vertical-box {
            width: 80%;
            transform: rotate(45deg);
            transition: transform .1s linear;
        }
    }

    @media screen and (min-width: 639px) and (max-width: 767px) {
        .left-vertical-box {
            transform: translate(3%, 8%) rotate(45deg);
        }

        .right-vertical-box {
            transform: translate(-6%, 60%) rotate(45deg);
        }
    }

    @media screen and (max-width: 640px) {
        .left-vertical-box {
            width: 90%;
            transform: translateY(0) rotate(45deg);
        }

        .right-vertical-box {
            width: 90%;
            transform: translate(-10%, 65%) rotate(45deg);
        }
    }

    @media screen and (max-width: 480px) {
        .left-vertical-box {
            width: 80%;
            transform: translate(10%, 0) rotate(45deg);
        }

        .right-vertical-box {
            width: 80%;
            transform: translate(-15%, 40%) rotate(45deg);
        }
    }

    @media screen and (max-width: 375px) {
        .left-vertical-box {
            width: 95%;
            transform: translate(-6%, 5%) rotate(45deg);
        }

        .right-vertical-box {
            width: 95%;
            transform: translate(-15%, 80%) rotate(45deg);
        }
    }

    @media screen and (max-width: 320px) {
        .left-vertical-box {
            width: 85%;
            transform: translate(3%, 0) rotate(45deg);
        }

        .right-vertical-box {
            width: 85%;
            transform: translate(-15%, 50%) rotate(45deg);
        }
    }
}

.rotate-left-vertical-box(@deg) {
    .left-vertical-box {
        transform: rotate(@deg);
    }
}

.rotate-right-vertical-box(@deg) {
    .right-vertical-box {
        transform: rotate(@deg);
    }
}

.vertical-box-shadow() {
    border-radius: 70px;
    box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.9);
}

.all-works-box-shadow() {
    .left-vertical-box {
        .vertical-box-shadow()
    }
    
    .right-vertical-box {
        .vertical-box-shadow()
    }
}

.img-box-shadow-1() {
    img {
        border-radius: 20px;
        box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, .4);
    }
}

.section-boxes-sm() {
    @media screen and (max-width: 1800px) {
        .left-bottom-box {
            img {
                width: 90%;
            }
        }
    }

    @media screen and (max-width: 1700px) {
        .top-box {
            margin-top: 5%;
            padding: 20px;
        }

        .right-bottom-box {
            margin-top: 0;
            padding: 20px;
        }

        .left-bottom-box {
            margin-top: -5%;
            img {
                width: 80%;
            }
        }
    }

    @media screen and (max-width: 1300px) {
        .left-bottom-box {
            img {
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 640px) {
        .top-box {
            margin-top: 15%;
            padding: 10px;
        }

        .right-bottom-box {
            margin-top: 0;
            padding: 10px;
        }

        .left-bottom-box {
            margin: 0 auto;
            padding: 20px;

            img {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .left-bottom-box {
            margin-top: -10%;
            padding: 20px;

            img {
                width: 100%;
            }
        }
    }
}

.vertical-box-mobile-640(@leftX, @leftY, @leftRotate, @leftWidth, @rightX, @rightY, @rightRotate, @rightWidth) {
    @media screen and (max-width: 640px) {
        .vertical-box(0, 0, 0, 0);
        .left-vertical-box {
            transform: translate(@leftX, @leftY) rotate(@leftRotate);
            width: @leftWidth;
        }

        .right-vertical-box {
            transform: translate(@rightX, @rightY) rotate(@rightRotate);
            width: @rightWidth;
        }
    }
}

.vertical-box-mobile-480(@leftX, @leftY, @leftRotate, @leftWidth, @rightX, @rightY, @rightRotate, @rightWidth) {
    @media screen and (max-width: 480px) {
        .left-vertical-box {
            transform: translate(@leftX, @leftY) rotate(@leftRotate);
            width: @leftWidth;
        }

        .right-vertical-box {
            transform: translate(@rightX, @rightY) rotate(@rightRotate);
            width: @rightWidth;
        }
    }
}

.vertical-box-mobile-375(@leftX, @leftY, @leftRotate, @leftWidth, @rightX, @rightY, @rightRotate, @rightWidth) {
    @media screen and (max-width: 375px) {
        .left-vertical-box {
            transform: translate(@leftX, @leftY) rotate(@leftRotate);
            width: @leftWidth;
        }

        .right-vertical-box {
            transform: translate(@rightX, @rightY) rotate(@rightRotate);
            width: @rightWidth;
        }
    }
}

.vertical-box-mobile-320(@leftX, @leftY, @leftRotate, @leftWidth, @rightX, @rightY, @rightRotate, @rightWidth) {
    @media screen and (max-width: 320px) {
        .left-vertical-box {
            transform: translate(@leftX, @leftY) rotate(@leftRotate);
            width: @leftWidth;
        }

        .right-vertical-box {
            transform: translate(@rightX, @rightY) rotate(@rightRotate);
            width: @rightWidth;
        }
    }
}
