@import "./vars.less";
@import "./functions.less";
@import "./icons.less";
@import "./fonts.less";

body {
    // overflow: hidden;
    font-family: @font;
    font-size: @default-font-size;
    background-color: #eeeeee;

    @media screen and (max-width: 1500px) {
        overflow: scroll;
    }
}

.w-20 {
    .width-percent(20%);
}

.w-80 {
    .width-percent(80%);
}

.m-right-6 {
    margin-right: 6px;
}

.m-left-30 {
    margin-left: 30px;
}

.head-2 {
    .width-percent(50%);
    float: left;

    .article {
        margin: 18% 20% 0 20%;
        
        @media screen and (min-width: 2000px) {
            margin: 15% 20% 0 20%;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        div {
            color: #606060;
            margin-top: 27px;
        }

        &.experience {
            margin: 10% 10% 0 10%;

            @media screen and (min-width: 2000px) {
                margin: 8% 10% 0 10%;
            }

            h1 {
                font-size: 28px;
            }

            hr {
                border-top: 3px solid rgba(248,210,209);
                margin-bottom: 30px;
            }

            div {
                margin: 0;

                &.item {
                    margin: 0 0 25px 0;

                    .date {
                        color: #8e8e8e;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    .job-title {
                        font-size: 19px;
                        color: #0069C9;
                    }
                }
            }
        }
    }
}

#wrapper {
    width: 100%;
    min-width: 1200px;
    max-width: 1980px;
    min-height: 100vh;
    overflow: hidden;
}

#head-img-1 {
    background-repeat:no-repeat;
    background-image: url(../imgs/1.png);
    background-position: center;
    background-size: cover;
    height: 540px;
}

#head-img-2 {
    background-repeat:no-repeat;
    background-image: url(../imgs/2.png);
    background-position: center;
    background-size: cover;
    height: 540px;
}

#content {
    // height: 100vh;
    margin-left: 20%;
    // overflow-y: scroll;
    // overflow-x: hidden;
    max-width: 1540px;

    @media screen and (min-width: 1900px) {
        margin-left: @max-side-width;
        box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    @media screen and (max-width: 1200px) {
        margin-left: @min-side-width;
    }

    .block {
        width: 100%;
        background-color: #ffffff;

        &.copyright {
            height: 66px;
            background-color: #eaeaea;
            padding: 15px;
        }

        &.work {
            // height: 100%;
            height: 1080px;
            width: 100%;
            position: relative;

            div {
                img {
                    width: 100%;
                }
            }

            .center-box {
                position: relative;
                margin: 0 auto;
                width: 86.7%;
                height: 81.4%;
                
                .top {
                    position: relative;
                    height: 47.27%;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }
    
                .bottom {
                    position: relative;
                    height: 52.72%;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
            }

            .title-wrapper {
                padding-top: 1%;
                height: 10%;
                width: 86.7%;
                margin: 0 auto;

                .title {
                    padding: 10px;
                    color: #FFF;

                    &.text {
                        display: inline-block;
                        height: 50px;
                    }
                }

                .artstation {
                    display: inline-block;
                    color: #13AEEF;
                    background-color: #FFF;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 1.9em;
                    font-size: 1.4em;
                    box-shadow: 0 0px 15px 0 rgba(255, 255, 255, 0.9);
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        box-shadow: 0 0px 15px 0 rgba(255, 255, 255, 0.9);
                        color: #0e82c5;
                    }
    
                    &:active {
                        color: #1078b4;
                        box-shadow: inset 0px 15px 0 rgba(255, 255, 255, 0.9);
                    }
                }
            }

            .section-1 {
                .section(#FFAAAA, #FFFFFF, #FF7575);
                .vertical-box(7%, 15%, 14%, 53%);

                @media screen and (max-width: 1500px) {
                    .vertical-box(7%, 10%, 14%, 53%);
                }

                @media screen and (max-width: 1300px) {
                    .vertical-box(7%, 6%, 14%, 52%);
                }

                @media screen and (max-width: 1200px) {
                    .vertical-box(7%, 10%, 20%, 40%);
                }
            }

            .section-2 {
                .section(#32C17C, #FFFFFF, #5DF4A0);
                .vertical-box(13%, 5%, 13%, 65%);

                @media screen and (max-width: 1500px) {
                    .vertical-box(13%, 5%, 23%, 55%);
                    .left-vertical-box {
                        width: 90%;
                    }
                    .right-vertical-box {
                        width: 38%;
                    }
                }

                @media screen and (max-width: 1300px) {
                    .vertical-box(13%, 5%, 35%, 55%);
                    .right-vertical-box {
                        width: 38%;
                    }
                }

                @media screen and (max-width: 1200px) {
                    .vertical-box(10%, 5%, 35%, 55%);
                    .left-vertical-box {
                        width: 90%;
                    }

                    .right-vertical-box {
                        width: 38%;
                    }
                }
            }

            .section-3 {
                .section(#579AFF, #FFFFFF, #84D9FF);
                .vertical-box(5%, 20%, 26%, 10%);
                .all-works-box-shadow();

                @media screen and (max-width: 1800px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 10% 5% 0 13%;
                    }

                    .right-vertical-box {
                        margin: 30% 9% 0 5%;
                    }
                }

                @media screen and (max-width: 1300px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 15% 5% 0 13%;
                    }

                    .right-vertical-box {
                        margin: 40% 9% 0 5%;
                    }
                }

                .vertical-box-sm();
            }

            .section-4 {
                .section(#FF9B59, #FFFFFF, #FFE09D);
                .vertical-box(5%, 10%, 26%, 20%);
                .all-works-box-shadow();

                @media screen and (max-width: 1800px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 5% 13% 0 5%;
                    }

                    .right-vertical-box {
                        margin: 25% 5% 0 15%;
                    }
                }

                @media screen and (max-width: 1300px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 15% 13% 0 5%;
                    }

                    .right-vertical-box {
                        margin: 40% 5% 0 9%;
                    }
                }

                .vertical-box-sm();
            }

            .section-5 {
                .section(#9D78FF, #FFFFFF, #FFB4F6);
                .vertical-box(5%, 20%, 26%, 10%);
                .all-works-box-shadow();

                @media screen and (max-width: 1800px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 10% 5% 0 13%;
                    }

                    .right-vertical-box {
                        margin: 30% 9% 0 5%;
                    }
                }

                @media screen and (max-width: 1300px) {
                    // .vertical-box(7%, 18%, 25%, 9%);
                    .left-vertical-box {
                        margin: 15% 5% 0 13%;
                    }

                    .right-vertical-box {
                        margin: 40% 9% 0 5%;
                    }
                }

                .vertical-box-sm();
            }

            .section-6 {
                .section(#2AB2BC, #FFFFFF, #4CFFE9);
                .top-box {
                    width: 100%;
                    position: absolute;
                    margin-top: 3%;
                    z-index: 99;

                    .img-box-shadow-1();
                }

                .left-bottom-box {
                    position: absolute;
                    margin: -10% 0 0 6%;
                    // width: 80%;
                    z-index: 100;
                }

                .right-bottom-box {
                    width: 100%;
                    position: absolute;
                    margin-top: -2%;
                    z-index: 99;

                    .img-box-shadow-1();
                }

                .section-boxes-sm();
            }

            .section-7 {
                .section(#BC4698, #FFFFFF, #FF8EE2);
                .top-box {
                    width: 100%;
                    position: absolute;
                    margin-top: 3%;
                    z-index: 99;

                    .img-box-shadow-1();
                }

                .left-bottom-box {
                    position: absolute;
                    margin: -12% 0 0 6%;
                    // width: 77%;
                    z-index: 100;
                }

                .right-bottom-box {
                    width: 100%;
                    position: absolute;
                    margin-top: -2%;
                    z-index: 99;

                    .img-box-shadow-1();
                }

                .section-boxes-sm();
            }
        }
    }
}

#side {
    background-color: #ffffff;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 100%;
    min-width: @min-side-width;
    position: fixed;
    font-size: 19px;
    z-index: 999;

    @media screen and (min-width: 1900px) {
        width: @max-side-width;
    }

    .box {
        margin-left: 10%;
        margin-right: 3%;
    }

    .side-banner {
        margin-top: 272px;
        max-width: 88%;
    }

    .job-title {
        margin-top: 62px;

        div {
            border: 0 !important;
            padding-bottom: 5px;

            &.border-left {
                border-bottom: 3px solid #D8D8D8 !important;
            }
        
            &.border-right {
                border-bottom: 3px solid #FF6166 !important;
            }
        }
    }

    .side-intro {
        margin-top: 16px;
        text-align: justify;
        text-justify: inter-word;
        max-width: 80%;
    }

    .links {
        margin-top: 62px;
    }
}

.icon {
    color: #A5A5A5;
    font-size: 24pt;

    & a {
        color: #A5A5A5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:hover {
            color: #808080;
        }

        &.artstation {
            color: #13AEEF;

            &:hover {
                color: #0e82c5;
            }
        }
    }
}

.btn {
    &.contact {
        color: #FF8B8B;
        font-size: 19px;
        height: 60px;
        line-height: 2.5em;
        width: (211/384*100%);
        min-width: 188px;
        border: 2px solid #FF6166;
        border-radius: 60px;

        &:hover {
            color: #ffdddd;
            background-color: #FF6166;
        }
    }
}
